In [5]:
import pandas as pd
import numpy as np

In [11]:
diagnostics = pd.read_csv('../data/VehicleDiagnosticOnboardData.csv')

In [12]:
service_code = pd.read_excel('../data/Service Fault Codes_1_0_0_167.xlsx')

In [13]:
vehicle_make = pd.read_excel('../data/Vehicle_Make.xlsx')

In [26]:
vehicle_make.head()

   Truck Number  Year          Make              Serial
0           535  1996  PETERBILT     1XPCDR8XXVN431011
1           534  1996  PETERBILT     1XPCPR8X8VN431010
2           533  1996  PETERBILT     1XPCDR8X1VN431009
3           532  1996  PETERBILT     1XPCDR8XXVN431008
4           531  1996  PETERBILT     1XPCDR8X8VN431007

In [20]:
service_code.shape

(7124, 14)

In [6]:
faults.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

Additional cleaning tasks:
* Remove faults occurring in the vicinity of the service locations at (36.0666667, -86.4347222), (35.5883333, -86.4438888), and (36.1950, -83.174722)
* Remove faults where the EquipmentID has more than 5 characters.

Upcoming full derate indicated by an SPN 5246 <-- requires a tow. 
SPN 1569, FMI = 31 75% derate

In [21]:
faults = pd.read_csv('../data/J1939Faults.csv', low_memory = False)

service_location1 = faults[(faults["Latitude"] == 36.066666) & (faults["Longitude"] == -86.434722)]

service_location2 = faults[(faults["Latitude"] == 35.588333) & (faults["Longitude"] == -86.443888)]

service_location3 = faults[(faults["Latitude"] == 36.1950) & (faults["Longitude"] ==  -83.174722 )]

services_locations = pd.concat([service_location1, service_location2, service_location3])

faults_cleaned = faults.drop(services_locations.index)

In [22]:
faults.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

In [23]:
faults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187335 entries, 0 to 1187334
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   RecordID               1187335 non-null  int64
 1   ESS_Id                 1187335 non-null  int64
 2   EventTimeStamp         1187335 non-null  object
 3   eventDescription       1126490 non-null  object
 4   actionDescription      0 non-null        float64
 5   ecuSoftwareVersion     891285 non-null   object
 6   ecuSerialNumber        844318 non-null   object
 7   ecuModel               1122577 non-null  object
 8   ecuMake                1122577 non-null  object
 9   ecuSource              1187335 non-null  int64
 10  spn                    1187335 non-null  int64
 11  fmi                    1187335 non-null  int64
 12  active                 1187335 non-null  bool
 13  activeTransitionCount  1187335 non-null  int64
 14  faultValue             0 non-null        float64
 15  EquipmentID            1187335 non-null  object
 16  MCTNumber              1187335 non-null  int64
 17  Latitude               1187335 non-null  float64
 18  Longitude              1187335 non-null  float64
 19  LocationTimeStamp      1187335 non-null  object
dtypes: bool(1), float64(4), int64(7), object(8)
memory usage: 173.2+ MB

In [103]:
#none of them have more than five characters so, I dunno.
faults['EquipmentID'].sort_values

<bound method Series.sort_values of 0          1439
1          1439
2          1369
3          1369
4          1674
           ...
1187330    2282
1187331    1994
1187332    1850
1187333    2377
1187334    2377
Name: EquipmentID, Length: 1187335, dtype: object>

In [17]:
diagnostics.head(25)

    Id                       Name            Value  FaultId
0    1                  IgnStatus            False        1
1    2          EngineOilPressure                0        1
2    3       EngineOilTemperature         96.74375        1
3    4         TurboBoostPressure                0        1
4    5                 EngineLoad               11        1
5    6           AcceleratorPedal                0        1
6    7  IntakeManifoldTemperature             78.8        1
7    8                   FuelRate                0        1
8    9                    FuelLtd  12300.907429328        1
9   10                  EngineRpm                0        1
10  11                 LampStatus             1023        1
11  12         BarometricPressure            14.21        1
12  13                  FuelLevel             43.2        1
13  14                      Speed                0        1
14  15              EngineTimeLtd           1632.2        1
15  16      CruiseControlSetSpeed         66.48672        1
16  17        CruiseControlActive            False        1
17  18   EngineCoolantTemperature            100.4        1
18  19               ParkingBrake             True        1
19  20     SwitchedBatteryVoltage          3276.75        1
20  21                DistanceLtd         423178.7        1
21  22                  IgnStatus             True        2
22  23                 LampStatus             1279        2
23  24                 LampStatus             1279        3
24  25                  IgnStatus             True        4

In [18]:
diagnostics.shape

(12821626, 4)

In [20]:
diagnostics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12821626 entries, 0 to 12821625
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   Id       int64
 1   Name     object
 2   Value    object
 3   FaultId  int64
dtypes: int64(2), object(2)
memory usage: 391.3+ MB

In [19]:
service_code.head()

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
0,Y,111,167,Not Mapped,254,0,12,629,12,P0606,Red,Stop / Shutdown,Engine Control Module Critical Internal Failur...,Error internal to the ECM related to memory ha...
1,Y,112,167,Not Mapped,20,128,7,635,7,Not Mapped,Red,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechan...,Mechanical failure in the engine timing actuat...
2,Y,113,167,Not Mapped,20,128,3,635,3,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,High signal voltage detected at the engine tim...
3,Y,114,167,Not Mapped,20,128,4,635,4,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,Low voltage detected at the engine timing actu...
4,Y,115,167,190,Not Mapped,Not Mapped,2,612,2,P0008,Red,Stop / Shutdown,Engine Magnetic Speed/Position Lost Both of Tw...,The ECM has detected that the primary and back...

In [8]:
service_code[service_code['SPN']== 5246]

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
2518,Y,3712,167,Not Mapped,Not Mapped,Not Mapped,0,5246,0,Not Mapped,Red,Stop / Shutdown,Aftertreatment SCR Operator Inducement - Data ...,SCR inducement of 5 mph derate - Fault Code 41...
2781,Y,4134,167,Not Mapped,Not Mapped,Not Mapped,0,5246,15,Not Mapped,Amber,Warning,Aftertreatment SCR Operator Inducement - Data ...,SCR inducement - Least Severe - Fault Code 371...
4338,Y,6254,167,Not Mapped,Not Mapped,Not Mapped,0,5246,16,Not Mapped,Amber,Warning,Aftertreatment SCR Operator Inducement Severit...,NaN

In [9]:
service_code[service_code['SPN']== 1569]

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
2520,Y,3714,167,Not Mapped,Not Mapped,Not Mapped,11,1569,31,Not Mapped,Amber,Warning,Engine Protection Torque Derate - Condition Ex...,NaN
4339,Y,6255,167,Not Mapped,Not Mapped,Not Mapped,0,1569,15,Not Mapped,None,None,Engine Protection Torque Derate - Data Valid B...,NaN
5095,Y,7285,167,Not Mapped,Not Mapped,Not Mapped,14,1569,14,Not Mapped,Amber,Warning,Engine Protection Torque Derate - Special Inst...,NaN